@import "~bootstrap/scss/bootstrap";
* {
	margin: 0;
}
h1 {
	margin: 0
}

p {
	margin: 0;
}
li {
	list-style: none;
}
label {
	font-size: large;
	font-weight: bold;
	margin: 0 auto;
	color: white;
}

textarea, input {
	width: 90%;
	height: fit-content;
	background-color: rgb(255, 255, 255, 0.25);
	padding: 5px;
	padding-inline: 20px;
	border: none;
	border-radius: 0.25vw 2.5vw / 0.25vw 2.5vw;
	border-bottom: 1px solid black;
	align-self: center;
	justify-self: center;
}

textarea::placeholder, input::placeholder {
	color: lightgray;
}

.page {
	background-color: darkslategray;
}
.App {
	text-align: center;
	justify-content: center;
}
.body {
	display: grid;
	grid-template-columns: 1fr;
}

.errmsg {
	color: red;
	grid-column-start: 1;
	grid-column-end: end;
}
.infomsg {
	color: aquamarine;
	grid-column-start: 1;
	grid-column-end: end;
}

.return-to-dashboard {
	position: absolute;
	top: 2%;
	left: 5%;
	background: none ;
	border: none;
	font-size: 300%;
}
.btn {
	margin: 10px;
	align-self: center;
	width: 150px;
	border: none;
	background-color: aquamarine;
	border-radius: 0px 20px / 0px 20px;
	color:black
}
.btn-sidebar {
	display: inline-block;
}
.btn:disabled {
	background-color: darken(aquamarine, .5);
	color: black;
}

.btn-delete, .btn-edit {
	width: fit-content;
}

.offcanvas-title {
	color: white;
}


.btn:focus {
	outline: none;
	box-shadow: none;
	background-color: white;
	border: 5px white transparent
}
.btn:hover{
	background-color: white;
	border: 5px white transparent
}

.btn-reverse {
	margin: 10px;
	align-self: center;
	width: 150px;
	border-radius: 20px 0px / 20px 00px;
}
//Landing Page

.landing-heading-border {
	// height: 15vh;
	background: aquamarine;
} 
.landing-heading-container-bg {
	background-color: aquamarine;
}
.landing-heading-container {
	padding: 15vh;
	// padding-bottom: 1vh;
	background: aquamarine;
	border-bottom-left-radius: 45% 70%;
}
.landing-btn-container {
	display: flex;
	width: 100vw;
	height: 60vh;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background-color: darkslategray;
	border-top-right-radius: 45% 60%;
}

.btn-login, .btn-register {
	width: 30%;
	min-width: 150px;
}
// Posts
.Posts {
	padding-inline: 5%;
}
.post-container {
	margin: 5% auto;
	width: 90%;
	max-width: 450px;
	border-radius: 1.5% 15% / 1.5% 15%;
	overflow: hidden;
	border: none;
	background-color: rgb(255, 255, 255, 0.5);
}

.dashboard-header{
	color:white;
}

.post-btn-container {
	width: 80%;
	display: flex;
	justify-content: space-evenly;
	margin: auto;
}
// .post-img[src=""]:empty +
.post-img{
	max-height: 35vh;
}
.post-img[src=""] {
	display: none;
}

.post-container[imgsrc=""] {
	border-radius: 1.5% 15% / 1.5% 25%;
}

.post-details {
	align-items: center;
	display: inline-grid;
	margin-inline: 5%;
	margin-top: 2%;
	grid-template-columns: 2fr 1fr;
}

.post-body {
	padding: 0;
	padding-inline: 5%;
}
.post-location {
	border: none;
	text-align: left;
	background-color: none;
	padding: 1%;
	padding-inline: 5%;
}

.post-date {
	border: none;
	text-align: right;
	background-color: none;
	padding: 1%;
	padding-inline: 5%;
}
.card-img-top {
	width: 100%;
	// max-height: 55vw;
	object-fit: cover;
}

.post-timestamp {
	color: lightgrey;
}
// My Events

.MyEvents {
	display: none;
}
.MyEventsSideBar {
	background-color: darkslategray;
}

.my-events {
	background-color: darkslategray;
}
.my-events-title {
	color: white;
	display: none;
}

.my-event-item-details {
	box-sizing: border-box;

}
.my-event-item {
	width: 90%;
	margin: 20px auto;
}
.my-event-item-thumbnail {
	border: none;
	border-radius: 0.5vw 5vw / 0.5vw 5vw;
	height: fit-content;
	color: white;
	overflow: hidden;
	transition: 0.5s;
	// background-color: rgb(0, 0, 0, 0.5);
	// background: rgb(4, 11, 153, 0);
	background: rgb(255, 255, 255,.2)
}
.my-event-item:hover {
	.my-event-item-thumbnail {
		border-radius: 0px;
	}
}
.my-event-item-img {
	transform: scale(1.03);
	justify-self: center;
	filter: brightness(70%) blur(2px);
	max-height: 20vh;
}
.my-event-item-thumbnail-container {
	display: flex;
	flex-wrap: wrap;
	height: fit-content;
	justify-content: center;
	align-content: center;
	height: 100%;
}
.card-img[src=""] {
	height: 20vh;
	background-color: black;
	opacity: 0;
}

.my-event-item-title {
	font-size: 1.5rem;
	align-self: center;
	justify-self: center;
}

.my-event-item-description {
	background-color: rgb(255, 255, 255, 0.3);
	color: black;
}

.my-event-item-details {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.my-event-item-location {
	padding-left: 20px;
	align-self: center;
	justify-self: left;
}
.my-event-item-date {
	padding: 20px;
	align-self: center;
	justify-self: right;
}

//Create Event
.CreateEvent {
	display: none;
}
.CreateEventSidebar {
}
.create-event {
	justify-content: center;
}
.create-event-title {
	color:white;
	display: none;
}
.create-event-form {
	text-align: center;
}
.create-event-form-group {
	padding: 10px;
	text-align: center;
}




// SignIn
.SignIn{
	

}
.signin-title, .signup-title {
	background-color: aquamarine;
	padding: 10vh;
	border-bottom-left-radius: 45% 70%;

}

.signup-form-container-bg, .signin-form-container-bg {
	background-color: aquamarine;
}
.signin-form-container-border, .signup-form-container-border {
	background-color: darkslategray;
	padding-top: 10vh;
	border-top-right-radius: 45% 30vh;
}
.signin-form, .signup-form {
	display: inline-block;
	width: 80%;
	max-width: 700px;
}
.signin-group, .signup-group {
	display: grid;
	grid-template-columns: 1fr 4fr;
	margin: 25px;
}



@media screen and (max-height: 1000px) {
	.card-img[src=""] {
		height: 30vh;
	}
	.my-event-item-img {
		max-height: 30vh;
	}
}
@media screen and (max-height: 700px) {
	.post-img {
		max-height: 45vh;
	}
}

@media screen and (max-height: 700px) {
	.post-img {
		max-height: 70vh;
	}
	.card-img[src=""] {
		height: 50vh;
	}
	.my-event-item-img {
		max-height: 50vh;
	}
}
@media screen and (min-width: 992px) {
	.MyEvents {
		display: block;
	}
	.CreateEvent {
		display: block;
	}
	.body {
		grid-template-columns: 1fr 1.5fr 1fr;
	}
	.create-event-title,
	.my-events-title {
		display: block;
	}
	.post-container {
		border-radius: 0.5vw 5vw / 0.5vw 5vw;
	}
	.btn-sidebar {
		display: none;
	}
	.card-img-top {
		height: 30vw;
	}
}
